
$footer-bg: $purple;
$footer-color: $white;
$footer-fonts: $josefin;
$footer-link-color: $green;


footer{
    padding: 30px 0;
    background-color: $footer-bg;
    
    ul{
        list-style: none;
        padding-left: 0;
        margin-bottom: 30px;
        li{
            a{
                display: block;
                text-align: center;
                padding: 5px 0;
                color: $footer-color;
                font-family: $footer-fonts;
                font-weight: $font-bold;
                font-size: 1.8rem;
                
                &:hover, &.active{
                    color: lighten(complement($footer-bg), 25%);
                }
            } // a end
        } // li end
    } // ul end
    
    .copyright{
        text-align: center;
        color: $footer-color;
    }
}

@media(min-width: 768px){
    footer{
        .container{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                li{
                    a{
                        padding: 5px 15px;
                    }
                } // li end
            } // ul end
        } // container end
    } // footer end
}

@media(min-width: 992px){
    footer{
        .container{
            ul{
                li{
                    a{
                        padding: 5px 25px;
                    }
                } // li end
            } // ul end
        } // container end
    } // footer end
}
