

$white: #ffffff;
$black: #000000;
$purple: #c417eb;
$light-gray: #eeeeee;
$red: #eb1734;
$green: #17eb22;
$blue: #17eb22;
$orange: #eba817;
$yellow: #eef20a;
$cyan: #0af2cb;
$dark-gray: #444444;


$enable-radius: false;